/**
 * Variables Style
 */

$ios-transition: cubic-bezier(0.22, 0.61, 0.36, 1);

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-nm: 1024px !default;
$screen-lg: 1200px !default;
$screen-xlg: 1440px !default;

$screen-sm-min: ($screen-xs + 1) !default;
$screen-xs-max: ($screen-sm - 1) !default;
$screen-sm-max: ($screen-md - 1) !default;
$screen-md-max: ($screen-lg - 1) !default;
