@import "_bootstrap";

.main {
  height: 95vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home {
  position: relative;
  padding: 0 5rem;
  flex: 1;
  display: flex;
  z-index: 10;

  @media (max-width: 1024px) {
    padding: 0;
  }
}

.main,
.home {
  align-items: flex-end;
  justify-content: center;

  @media (max-width: 1024px) {
    align-items: center;
    justify-content: center;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;

  @media (max-width: 1300px) {
    width: auto;
    height: 100vh;
  }
}

.home {
  flex-direction: column;
}

@media (min-width: 1024px) {
  .home > .profile_picture {
    margin-top: 62px;
  }
}

.home .profile_info {
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.9);
}

@media (min-width: 1024px) {
  .home .profile_info {
    margin: 100px auto 50px;
  }
}

.home .profile_info .name {
  font-size: 26px;
  margin-top: 0;
  padding: 30px 10px 5px;
}

@media (min-width: 1024px) {
  .home .profile_info .name {
    font-size: 28px;
    padding: 50px 20px 5px;
  }
}

.home .profile_info .description {
  padding: 10px;
}

@media (min-width: 1024px) {
  .home .profile_info .description {
    padding: 10px 20px;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .home .profile_info {
    min-width: 400px;
  }
}

@media (min-width: 1024px) {
  .home .profile_info {
    min-width: 500px;
  }

  .links {
    padding: 0;
  }
}
